.card {
    margin-bottom: 20px;
    cursor: pointer;
}

h1.text-center.mb-4 {
    margin-top: -1.6rem;
}

body {
    background-image: url('bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1.text-center.mb-4 {
    margin-top: -1.6rem;
    color: rgb(0, 0, 0);
    background-color: rgb(129, 207, 129);
    padding: 10px 20px;
    border-radius: 10px;
}

.driver-text,
.mileage-text,
.date-text {
    margin-bottom: 2px;
}

#deliverTruckBtn {
    margin-top: 10px;
}

#calculateBtn {
    background-color: green;
}

#cardDetailsModal {
    position: fixed;
    top: 12%;
    left: 0%;
    
}



#calculationResultModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -44%);
    width: 500px;
    height: 500px;
    justify-content: center;


    padding: 20px;
}

#confirmationModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
    width: 500px;
    height: 500px;
    justify-content: center;


    padding: 20px;
}

